body {
    background:#c9dcfc;
    margin: 0;
}

#topbar {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(59, 125, 201) url(../imgs/topbar.png) repeat-x;
    float: left;
}

#topbar li {
    float: left;
}

#topbar a {
    display: block;
    padding: 0 1em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    border-left: 1px solid #007ce2;
}

#primeiro a {
    border-left: none;
}

#topimg{
    padding-left: 3em;
    padding-right: 1em;
    padding-top: 5px;
}

#perfilleft {
    float: left;
    list-style: none;
    padding: 15px 15px;
    background-color: #fff;
    margin-left: 85px;
    border-radius: 7px;
    box-shadow: 0 0 5px #585858;
}

#leftlink a{
    text-decoration: none;
    text-decoration-color: #0964ad;
}

#bemvindo {
    background-color: #fff;
    list-style: none;
    padding: 20px 20px;
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #585858;
}

#meusamigos {
    background-color: #fff;
    list-style: none;
    float: right;
    padding: 0px 20px;
    margin-left: 15px;
    margin-right: 85px;
    border-radius: 10px;
    box-shadow: 0 0 5px #585858;
}